{% extends "base.html" %}

{% block title %}
    Города и страны
{% endblock %}

{% block content %}
<!--Шапка-->
<div class="btn-group btn-outline-primary" role="group">
<a href="/" class="btn ">Домашняя страница</a>
<a href="/about" class="btn active">Путеводитель</a>
</div>

<h1>Путеводитель</h1>

<div class="container g-3">
    <div class="row">
        {% for country in countries %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <!--            карточка-->
                <div class="card mb-3" style="max-width: 24rem;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ country.map }}" class="img-fluid rounded-start" alt="{{ country.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ country.name }}</h5>
                                <p class="card-text">{{ country.info }}</p>
                                <p class="card-text"><small
                                        class="text-body-secondary">(Столица: {{ country.capital }})</small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--            карточка-->
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}