{% extends "base.html" %}
{% block content %}


<!--Шапка-->
<div class="btn-group btn-outline-primary" role="group">
    <a href="/" class="btn active">Домашняя страница</a>
    <a href="/about" class="btn">Путеводитель</a>
    {% if current_user.is_authenticated %}
    <a href="{{ url_for('profile') }}" class="btn">Редактировать профиль</a>
    <a href="{{ url_for('logout') }}" class="btn">Выход из системы</a>
    {% endif %}
</div>



<br>
<h1 class="text-center">Домашняя страница</h1>
<br>
    {% if current_user.is_authenticated %}
    <p class="text-center">Привет, {{ current_user.username }}!</p>
    {% else %}
    <p>Пожалуйста, <a href="{{ url_for('login') }}">авторизуйтесь</a> или <a href="{{ url_for('register') }}">зарегистрируйтесь</a>.
    </p>
    {% endif %}

{% endblock %}