{% extends "base.html" %}
{% block content %}
<h2>Регистрация пользователя</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}<br>
        {{ form.username(size=32, placeholder="Ваше имя") }}
    </div>
    <div class="form-group">
        {{ form.email.label }}<br>
        {{ form.email(size=32, placeholder="Email") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32) }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn") }}
    </div>
</form>
<p>Если Вы уже зарегистрированы, <a href="{{ url_for('login') }}">пройдите авторизацию</a>.</p>
{% endblock %}